@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate(15deg);
    }
    40%{
        -webkit-transform: rotate(-15deg);
    }
    60%{
        -webkit-transform: rotate(5deg);
    }
    80%{
        -webkit-transform: rotate(-5deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
    }
}
